/* Import the customized font */

@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
}

h2 {
  font-size: 2.5rem;
}

ul, ol, dl, p {
  font-size: 1.5rem;
}

li, p, dd, dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5rem;
}

ol {
  list-style-type: cjk-heavenly-stem;
  list-style-position: outside;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

ul li {
  padding-left: 2rem;
  background-image: url(star.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
